<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-hibernate-example:war exploded">
    <output-path>$PROJECT_DIR$/classes/artifacts/spring_hibernate_example_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring-hibernate-example/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-hibernate-example" />
        </element>
      </element>
    </root>
  </artifact>
</component>